.after_header{
    height:120px;
    background-color: rgb(201, 201, 201);
    width: 100%;
    border: 0px solid black;
}
.hi{
    padding-right: 60px;
    padding-top: 100px !important;
    padding-bottom: -20px;
    margin-bottom: -20px;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 10px !important;
    /* background-color: red; */
}
.tire_disks_bgimg_div{
    width:100%;
    height: 450px;
    background-image: url('./../../Assets/tiresBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.tire_disks_div_txt{
    color: white;
    display: flex;
    margin-top: 0px;
    padding-top: 170px;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.tire_disk_details{
    width: 90%;
    border-radius: 5px;
    /* height: 100px; */
    margin-top: 20px !important;
    background-color: rgb(231, 231, 231);
    margin: auto;
}
.tire_disk_category_list li{
    margin-top: 10px;
}

@media only screen and (max-width:430px){
    .tire_disks_bgimg_div{
        height:400px !important ;
    }
    .tire_disks_div_txt{
        padding-top: 140px !important;
    }
}


@media only screen and (max-width:430px){
    .tire_disks_bgimg_div{
        height:350px !important ;
    }
    .tire_disks_div_txt{
        padding-top: 120px !important;
    }
}


@media only screen and (max-width:330px){
    .tire_disks_bgimg_div{
        height:300px !important ;
    }
    .tire_disks_div_txt{
        padding-top: 100px !important;
    }
}